.container{
    width: 100%;
    height: 696px;
    /* background-color: #d32424; */
}
.backgroundImage {
    background-image: url('../assets//Vector\ 1.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    width: 100%; 
    height: 500px; 
    margin-top: 10px;
  }
  .textCont{
    font-size: 90px;
    margin-top: 13%;
  }
  .textimg {
    width: 50%;
    display: flex;
   justify-content:space-evenly ;
  }
  
  .textf {
    width: 30px;
    height: auto; 
  }
  .textg2 {
    width: 50px;
    height: auto; 
  }
  .textg3 {
    width: 50px;
    height: auto; 
    margin-top: -10px;
  }
  .dog{
    width: 50%;
    height: 300px;
    margin-left: 47%;
    margin-top: -17%;
  }
  .dog1{
    display: flex;
    gap: 20;
  }
  .dog2{
    display: flex;
    gap: 20;
  }
 /* .dog1 img{
    width: 200px;
    height: 200px;
    
  } */
  /* .dog2 img{
    width: 200px;
    height: 200px;
    
  } */
  .bili{
    /* margin-top: 20px; */
    width: 261px;
    height: 324px;
  }
  .sona{
    margin-top: -10px;
    margin-left: 250px;
    width: 260px;
    height: 300px;
  }
  .dogblack{
    /* margin-top: -10px; */
    /* margin-left: 100px; */
    background-image: url('../assets/blackdog.png');
    width: 200px;
    height: 300px;
    margin-top: -10px;
    margin-left: 100px;
  }
  .dekhna{
    background-image: url('../assets/dekhnadog.png');
    margin-top: -38px;
    margin-left: 170px;
    width: 200px;
    height: 300px;
  }
  .smartdog{
    margin-top: -300px;
    margin-left: -550px;
  }