/* nav.module.css */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
}


.logo1 {
  display: flex;
  align-items: center; 
  gap: 30px;
  margin-left: 100px;
}

.logo {
  width: 70px;
  height: 70px;
  object-fit: cover; 
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.logo2 {
  margin-left: -10px;
  font-size: 30px;
  background: linear-gradient(to right, hsl(40, 100%, 50%), hsl(50, 100%, 68%), hsl(48, 65%, 52%)); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  margin-top: 25px;
font-weight: bold;
}

li a.navContainer1 {
  color: #ffaa00;
  text-decoration: none;
}


.navContainer {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 100px;
  font-size: 20px;

}

.navContainer li {
  margin-right: 20px;
}

.navContainer a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navContainer a:hover {
  color: #007bff;
}


.actions {
  display: flex;
  width: 20%;
  gap: 20px;
  margin: auto;
}

.actions .btn {
  background-color: #124C5F;
  color: white; 
  width: 148px;
  height: 49px;
  margin-left: -200px;
  border: none;
  border-radius: 5px; 
  margin-left: 10px; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.actions .btn1 {
  background-color: #C7E7E1;
  color: rgb(23, 20, 20); 
  width: 148px;
  height: 49px;
  margin-left: -200px;
  border: none;
  border-radius: 5px; 
  margin-left: 10px; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; 
}



/* Media Query for Responsive Navbar */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .navContainer {
    margin-top: 10px;
    flex-direction: column;
  }

  .navContainer li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  
}
